<a href="https://colab.research.google.com/github/yeyomuri/pandas/blob/main/platzi/data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [3]:
dict_data = {'perro':['mamifero', 'canino'], 'canario':['oviparo', 'ave'], 'cocodrilo':['reptil', 'oviparo']}
dict_data

{'canario': ['oviparo', 'ave'],
 'cocodrilo': ['reptil', 'oviparo'],
 'perro': ['mamifero', 'canino']}

In [4]:
df = pd.DataFrame(dict_data)
df

      perro  canario cocodrilo
0  mamifero  oviparo    reptil
1    canino      ave   oviparo

In [5]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [6]:
df = pd.DataFrame(dict_data, index = ['Aurelio', 'Carlos', 'Juan', 'Mar√≠a', 'Diana', 'Carla', 'Daniela'])

In [7]:
df

         edad   cm pais genero    Q1  Q2
Aurelio    10  115   co      M   5.0   7
Carlos      9  110   mx      F  10.0   9
Juan       13  130   co      F   8.0   9
Mar√≠a      14  155   mx      M   NaN   8
Diana      12  125   mx      M   7.0   8
Carla      11  120   ch      M   8.0   8
Daniela    12  125   ch      F   3.0   9

In [8]:
df.index

Index(['Aurelio', 'Carlos', 'Juan', 'Mar√≠a', 'Diana', 'Carla', 'Daniela'], dtype='object')

In [9]:
df.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [10]:
df.values

array([[10, 115, 'co', 'M', 5.0, 7],
       [9, 110, 'mx', 'F', 10.0, 9],
       [13, 130, 'co', 'F', 8.0, 9],
       [14, 155, 'mx', 'M', nan, 8],
       [12, 125, 'mx', 'M', 7.0, 8],
       [11, 120, 'ch', 'M', 8.0, 8],
       [12, 125, 'ch', 'F', 3.0, 9]], dtype=object)

In [11]:
df['edad']

Aurelio    10
Carlos      9
Juan       13
Mar√≠a      14
Diana      12
Carla      11
Daniela    12
Name: edad, dtype: int64

In [12]:
df[['edad', 'cm', 'Q1']]

         edad   cm    Q1
Aurelio    10  115   5.0
Carlos      9  110  10.0
Juan       13  130   8.0
Mar√≠a      14  155   NaN
Diana      12  125   7.0
Carla      11  120   8.0
Daniela    12  125   3.0

In [13]:
df.loc['Aurelio', ['edad', 'cm', 'Q1']]

edad     10
cm      115
Q1        5
Name: Aurelio, dtype: object

In [14]:
df.loc[['Aurelio', 'Diana'], ['edad', 'cm', 'Q1']]

         edad   cm   Q1
Aurelio    10  115  5.0
Diana      12  125  7.0

In [15]:
df.loc['Aurelio', 'edad']

10

In [16]:
df.iloc[2, 2]

'co'

In [17]:
df.iloc[:, [1, 3]]

          cm genero
Aurelio  115      M
Carlos   110      F
Juan     130      F
Mar√≠a    155      M
Diana    125      M
Carla    120      M
Daniela  125      F

In [18]:
df.loc[:, ['edad', 'genero']]

         edad genero
Aurelio    10      M
Carlos      9      F
Juan       13      F
Mar√≠a      14      M
Diana      12      M
Carla      11      M
Daniela    12      F

Busqueda con condici√≥n

In [19]:
df['edad'] >= 18

Aurelio    False
Carlos     False
Juan       False
Mar√≠a      False
Diana      False
Carla      False
Daniela    False
Name: edad, dtype: bool

In [20]:
df.loc['Juan', 'edad']

13

In [21]:
df[(df['edad'] < 12 )& (df['pais'] == 'mx')]

        edad   cm pais genero    Q1  Q2
Carlos     9  110   mx      F  10.0   9

In [22]:
df.query('edad > 12')

       edad   cm pais genero   Q1  Q2
Juan     13  130   co      F  8.0   9
Mar√≠a    14  155   mx      M  NaN   8

In [23]:
df['Q2'] > df['Q1']

Aurelio     True
Carlos     False
Juan        True
Mar√≠a      False
Diana       True
Carla      False
Daniela     True
dtype: bool

In [24]:
df_sub = df[df['Q2'] == df['Q1']]

In [25]:
df_sub

       edad   cm pais genero   Q1  Q2
Carla    11  120   ch      M  8.0   8

In [26]:
df['cm'].describe()

count      7.000000
mean     125.714286
std       14.556949
min      110.000000
25%      117.500000
50%      125.000000
75%      127.500000
max      155.000000
Name: cm, dtype: float64

In [27]:
df['edad'].value_counts(normalize = True)

12    0.285714
14    0.142857
13    0.142857
11    0.142857
10    0.142857
9     0.142857
Name: edad, dtype: float64